parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - tests/smoke
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
